# **Chapter-7**

### **Problem: 4**

\-- 5

\-- Run the following code to create and populate the EmpYearOrders table:

\-- Write a query against the EmpYearOrders table that unpivots

\-- the data, returning a row for each employee and order year

\-- with the number of orders

\-- Exclude rows where the number of orders is 0

\-- (in our example, employee 3 in year 2016)

**Solution:**

**Proposition:** Writing the query against EmpYearOrders table that unpivots the data, returning a row for each employee and order year with the number of orders. Excluding rows where number of orders is 0.

**Tables:**  <span style="color: var(--vscode-foreground);">&nbsp;TSQLV4, Northwinds2022TSQLV7 database,&nbsp;dbo.EmpYearOrders, dbo.Orders</span>

**Columns:** dbo.EmpYearOrders: empid, cnt2014, cnt2015, cnt2016, EmployeeId, OrderDate, empid/EmployeeId

**Predicate:** WHERE numorders \<\> 0;, which filters the results to exclude rows where the number of orders (numorders) is zero. This condition ensures that only records representing actual sales activity—where employees have made one or more sales in a given year—are included in the final output, effectively omitting any data where there was no sales performance to report.

  

![]()_Written in collaboration with ChatGPT from OpenAI to improve understanding and assist with the explanation of the query._

In [ ]:
USE TSQLV4

DROP TABLE IF EXISTS dbo.EmpYearOrders;

CREATE TABLE dbo.EmpYearOrders
(
  empid INT NOT NULL
    CONSTRAINT PK_EmpYearOrders PRIMARY KEY,
  cnt2014 INT NULL,
  cnt2015 INT NULL,
  cnt2016 INT NULL
);

INSERT INTO dbo.EmpYearOrders(empid, cnt2014, cnt2015, cnt2016)
  SELECT empid, [2014] AS cnt2014, [2015] AS cnt2015, [2016] AS cnt2016
  FROM (SELECT empid, YEAR(OrderDate) AS orderyear
        FROM dbo.Orders) AS D
    PIVOT(COUNT(orderyear)
          FOR orderyear IN([2014], [2015], [2016])) AS P;


SELECT empid, CAST(RIGHT(orderyear, 4) AS INT) AS orderyear, numorders
FROM dbo.EmpYearOrders
 UNPIVOT(numorders FOR orderyear IN(cnt2014, cnt2015, cnt2016)) AS U
WHERE numorders <> 0;

In [ ]:
USE Northwinds2022TSQLV7

DROP TABLE IF EXISTS dbo.EmpYearOrders;

CREATE TABLE dbo.EmpYearOrders
(
  empid INT NOT NULL
    CONSTRAINT PK_EmpYearOrders PRIMARY KEY,
  cnt2014 INT NULL,
  cnt2015 INT NULL,
  cnt2016 INT NULL
);

INSERT INTO dbo.EmpYearOrders(empid, cnt2014, cnt2015, cnt2016)
  SELECT EmployeeId, [2014] AS cnt2014, [2015] AS cnt2015, [2016] AS cnt2016
  FROM (SELECT EmployeeId, YEAR(OrderDate) AS orderyear
        FROM dbo.Orders) AS D
    PIVOT(COUNT(orderyear)
          FOR orderyear IN([2014], [2015], [2016])) AS P;


SELECT empid, CAST(RIGHT(orderyear, 4) AS INT) AS orderyear, numorders
FROM dbo.EmpYearOrders
 UNPIVOT(numorders FOR orderyear IN(cnt2014, cnt2015, cnt2016)) AS U
WHERE numorders <> 0;